<h1> Type of Food Restaurants </h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li> <%= link_to "#{restaurant.name}", restaurant_path(restaurant.id) %> </li>
  <% end %>
</ul>

<h5> <%= link_to 'Create Restaurant', new_restaurant_path%> <h5>
